:root {
  /* Colors */
  --color-primary: #394783;
  --color-background: #FFFFFF;
  --color-border: #D4D9E3;
  --color-text: #505050;
  --color-text-highlight: #5D699A;

  /* Fonts */
  --font-family: 'Roboto', Arial, Helvetica, sans-serif;
  --font-sm: 13px;
  --font-md: 14px;
  --font-lg: 32px;
  --line-height-md: 25px;

  /* Transitions */
  --fade-duration: .5s;
}
