:root {
  /* Colors */
  --color-primary: #394783;
  --color-background: #FFFFFF;
  --color-border: #D4D9E3;
  --color-text: #505050;
  --color-text-highlight: #5D699A;

  /* Texts */
  --font-family: 'Roboto', Arial, Helvetica, sans-serif;
  --text-sm: 13px;
  --text-md: 16px;
  --text-lg: 24px;
}
