:root {
  /* Breakpoints */
  --breakpoint-sm: 650px;
  --breakpoint-md: 970px;
  --breakpoint-lg: 1125px;

  /* Colors */
  --color-primary: #394783;
  --color-page-bg: #FFFFFF;
  --color-text: #000000;
  --color-text-invert: #FFFFFF;
  --color-text-highlight: #5D699A;

  /* Texts */
  --font-family: 'Roboto', Arial, Helvetica, sans-serif;
  --text-sm: 13px;
  --text-md: 16px;
  --text-lg: 24px;
}
