@import 'partials/reset';
@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/mixins';

body {
  font-family: var(--font-family);
}

main {
  background-color: var(--color-page-bg);

  .main-container {
    max-width: var(--breakpoint-lg);
    margin: 0 auto;
    padding: 20px 10px;
  }
}
