@import 'partials/fonts';
@import 'partials/reset';
@import 'partials/scss-variables';
@import 'partials/css-variables';
@import 'partials/mixins';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

main {
  background-color: var(--color-background);

  .main-container {
    max-width: $breakpoint-md;
    margin: 0 auto;
    padding: 20px 10px;
  }
}
